[
  {ratings, [
    {ratings, [
        { secondly, {daily, { every, { 10, sec }, { between, {1, pm}, {11, pm} }}}},
        { daily, {daily, {6, 30, am}}},
        { weekly, {weekly, mon, {6, 30, am}}},
        { monthly, {monthly, 1, {6, 30, am}}}
    ]},
    {threshold, 50},
    {port, 8008}
  ]},
  {sync, [
    {log, [warnings]}
    %{non_descendants, allow}
    %{executable, auto},
  ]},
  {lager, [
    {error_logger_hwm, 50},
    {colored, true},
    {handlers, [
      {lager_console_backend, debug}
    ]}
  ]}
].
