{erl_opts, [
  {parse_transform, lager_transform},
  debug_info, fail_on_warning,
  {src_dirs, ["src"]}
]}.

{deps_dir, "../../deps"}.

{deps, [
  {lager, ".*",
    {git, "git@github.com:basho/lager.git", "master"}},
  {gproc, ".*",
    {git, "git@github.com:uwiger/gproc.git", "master"}},
  {sync, ".*",
    {git, "git@github.com:rustyio/sync.git", "master"}},
  {jiffy, ".*",
    {git, "git@github.com:davisp/jiffy.git", "master"}},
  {cowboy, ".*",
    {git, "https://github.com/extend/cowboy.git", "master"}},
  {mavg, ".*",
    {git, "git@github.com:EchoTeam/mavg.git", "master"}}
]}.
